<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
	<f:if condition="{settings.dateRange}==0">
		<f:render partial="Calendar/Month" arguments="{_all}"/>
	</f:if>

	<f:if condition="{settings.dateRange}==1">
		<f:render partial="Calendar/Week" arguments="{_all}"/>
	</f:if>
</f:section>

<f:section name="sidebar">
	<h1>New Entry</h1>

	<f:flashMessages/>

	<f:render partial="FormErrors" arguments="{object:Entry}"/>

	<f:form action="create" name="newEntry" object="{newEntry}">

		<f:form.hidden property="calendar" value="{newEntry.calendar}"/>
		<f:form.hidden property="timeslot" value="{newEntry.timeslot}"/>
		<f:if condition="{newEntry.feUser}">
			<f:form.hidden property="feUser" value="{newEntry.feUser}"/>
		</f:if>

		<f:render partial="Entry/Field/StartDate" arguments="{_all}"/>
		<br/>
		<f:render partial="Entry/Field/EndDate" arguments="{_all}"/>
		<br/>
		<f:render partial="Entry/Field/Name" arguments="{_all}"/>
		<br/>
		<f:render partial="Entry/Field/Prename" arguments="{_all}"/>
		<br/>
		<f:render partial="Entry/Field/Street" arguments="{_all}"/>
		<br/>
		<f:render partial="Entry/Field/Zip" arguments="{_all}"/>
		<br/>
		<f:render partial="Entry/Field/City" arguments="{_all}"/>
		<br/>
		<f:render partial="Entry/Field/Phone" arguments="{_all}"/>
		<br/>
		<f:render partial="Entry/Field/Email" arguments="{_all}"/>
		<br/>
		<f:render partial="Entry/Field/Newsletter" arguments="{_all}"/>
		<br/>
		<f:render partial="Entry/Field/Weight" arguments="{_all}"/>
		<br/>
		<f:render partial="Entry/Field/Submit" arguments="{_all}"/>
	</f:form>
	<f:link.action controller="Calendar"
								 action="show"
								 pageUid="{f:if(condition:settings.backPid, then:settings.backPid)}"
								 arguments="{calendar : calendar}">back to {calendar.name}
	</f:link.action>


</f:section>

</html>
