<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" /> This template displays a NEW form for the current domain object. If you modify this template, do not forget to change the
overwrite settings in /Configuration/ExtensionBuilder/settings.yaml: Resources: Private: Templates: New.html: keep Otherwise
your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <h1>Entry Show</h1>

	<f:flashMessages />

	<p>Date: {entry.startDate->f:format.date()} - {entry.endDate->f:format.date()}</p>
	<p>Name: {entry.name}</p>


    <f:if condition="{deleteable}">
        <f:form action="delete" name="entry" object="{entry}">
            <f:form.hidden property="token" value="{entry.token}" />
            <f:form.submit value="Delete" />
        </f:form>
    </f:if>

    <f:link.action controller="Calendar" action="show" pageUid="{f:if(condition:settings.backPid, then:settings.backPid, else:page)}" arguments="{calendar : entry.calendar}">back to {entry.calendar.name}</f:link.action>
</f:section>

</html>
