<h1>Reservierungsbestätigung</h1>
<p>Kalender: <strong>{record.calendar.name}</strong></p>
<p>Start: <strong>{f:format.date(date:record.startDate, format:'d.m.Y H:i')}</strong>
<p>Ende: <strong>{f:format.date(date:record.endDate, format:'d.m.Y H:i')}</strong>
<p>Name: <strong>{record.name}</strong></p>
<p>User Id: <strong>{record.feUser.uid}</strong></p>
