<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" /> This Template is responsible for displaying a single view for a domain object If you modify this template, do not forget
to change the overwrite settings in /Configuration/ExtensionBuilder/settings.yaml: Resources: Private: Templates: Show.html:
keep Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
  <h1>Single View for Calendar</h1>

	<f:if condition="{calendar.directBooking}">
		<f:link.action controller="Entry"
									 pageUid="{f:if(condition:settings.entryPid, then:settings.entryPid)}"
									 action="new"
									 arguments="{calendar: calendar}">
			+ direct booking
		</f:link.action>
	</f:if>

  <f:if condition="{settings.dateRange}==0">
    <f:render partial="Calendar/Month" arguments="{_all}" />
  </f:if>

  <f:if condition="{settings.dateRange}==1">
    <f:render partial="Calendar/Week" arguments="{_all}" />
  </f:if>

</f:section>

</html>
