<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">














<br/>
<f:translate key="tx_bwbookingmanager_domain_model_entry.special1"/>
</label><br/>
<f:form.checkbox property="special1" value="1"/>
<br/>
<f:translate key="tx_bwbookingmanager_domain_model_entry.special2"/>
</label><br/>
<f:form.checkbox property="special2" value="1"/>
<br/>

</html>
