<div class="row">
	<div class="columns">
		<f:link.action class="button"
									 action="show"
									 arguments="{calendar: calendar, day: configuration.prev.day, month: configuration.prev.month, year: configuration.prev.year}">
			prev week
		</f:link.action>
	</div>
	<div class="columns text-center">
		<h2>{f:format.date(date:configuration.days.0.date, format:'d.m.')} - {f:format.date(date:configuration.days.6.date,
			format:'d.m.')}</h2>
	</div>
	<div class="columns text-right">
		<f:link.action class="button"
									 action="show"
									 arguments="{calendar: calendar, day: configuration.next.day, month: configuration.next.month, year: configuration.next.year}">
			next week
		</f:link.action>
	</div>
</div>

<hr/>

<div class="row small-up-7">
	<f:for each="{configuration.days}" as="day">
		<div class="column">
			<h3>{f:format.date(date:day.date, format:'l')}</h3>
			<hr/>
			<ul>
				<f:for each="{day.timeslots}" as="timeslot">
					<li>{f:format.date(date:timeslot.startDate, format:'H:i')} - {f:format.date(date:timeslot.endDate,
						format:'H:i')}
						<p>{timeslot.bookedWeight} / {timeslot.maxWeight} booked</p>
						<f:if condition="{timeslot.isBookable}">
							<f:link.action controller="Entry" pageUid="{settings.entryPid}" action="new" arguments="{calendar: calendar, timeslot: timeslot, start: timeslot.startDate.timestamp, end: timeslot.endDate.timestamp}">
								book
							</f:link.action>
						</f:if>
					</li>
				</f:for>
			</ul>
			<f:if condition="{day.isDirectBookable}">
				<f:link.action controller="Entry"
											 pageUid="{settings.entryPid}"
											 action="new"
											 arguments="{calendar: calendar, start: day.date.timestamp}">
					direct booking
				</f:link.action>
			</f:if>
		</div>
	</f:for>
</div>
